---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/aziobrow
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1512671109'
      Etag:
      - W/"ff3a95d77b116423014eb8bc9a1173ff"
      Last-Modified:
      - Thu, 07 Dec 2017 17:21:54 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"aziobrow","id":25802671,"avatar_url":"https://avatars2.githubusercontent.com/u/25802671?v=4","gravatar_id":"","url":"https://api.github.com/users/aziobrow","html_url":"https://github.com/aziobrow","followers_url":"https://api.github.com/users/aziobrow/followers","following_url":"https://api.github.com/users/aziobrow/following{/other_user}","gists_url":"https://api.github.com/users/aziobrow/gists{/gist_id}","starred_url":"https://api.github.com/users/aziobrow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aziobrow/subscriptions","organizations_url":"https://api.github.com/users/aziobrow/orgs","repos_url":"https://api.github.com/users/aziobrow/repos","events_url":"https://api.github.com/users/aziobrow/events{/privacy}","received_events_url":"https://api.github.com/users/aziobrow/received_events","type":"User","site_admin":false,"name":"Aurora
        Ziobrowski","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":46,"public_gists":13,"followers":2,"following":1,"created_at":"2017-02-15T19:26:09Z","updated_at":"2017-12-07T17:21:54Z"}'
  recorded_at: Thu, 07 Dec 2017 17:34:02 GMT
- request:
    method: get
    uri: https://api.github.com/users/aziobrow/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1512671109'
      Etag:
      - W/"3ada9ecc8e74207fa1c46d352d9ba761"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":113102113,"name":"swapi-box","full_name":"patrickjneel/swapi-box","owner":{"login":"patrickjneel","id":27737561,"avatar_url":"https://avatars3.githubusercontent.com/u/27737561?v=4","gravatar_id":"","url":"https://api.github.com/users/patrickjneel","html_url":"https://github.com/patrickjneel","followers_url":"https://api.github.com/users/patrickjneel/followers","following_url":"https://api.github.com/users/patrickjneel/following{/other_user}","gists_url":"https://api.github.com/users/patrickjneel/gists{/gist_id}","starred_url":"https://api.github.com/users/patrickjneel/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/patrickjneel/subscriptions","organizations_url":"https://api.github.com/users/patrickjneel/orgs","repos_url":"https://api.github.com/users/patrickjneel/repos","events_url":"https://api.github.com/users/patrickjneel/events{/privacy}","received_events_url":"https://api.github.com/users/patrickjneel/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/patrickjneel/swapi-box","description":null,"fork":false,"url":"https://api.github.com/repos/patrickjneel/swapi-box","forks_url":"https://api.github.com/repos/patrickjneel/swapi-box/forks","keys_url":"https://api.github.com/repos/patrickjneel/swapi-box/keys{/key_id}","collaborators_url":"https://api.github.com/repos/patrickjneel/swapi-box/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/patrickjneel/swapi-box/teams","hooks_url":"https://api.github.com/repos/patrickjneel/swapi-box/hooks","issue_events_url":"https://api.github.com/repos/patrickjneel/swapi-box/issues/events{/number}","events_url":"https://api.github.com/repos/patrickjneel/swapi-box/events","assignees_url":"https://api.github.com/repos/patrickjneel/swapi-box/assignees{/user}","branches_url":"https://api.github.com/repos/patrickjneel/swapi-box/branches{/branch}","tags_url":"https://api.github.com/repos/patrickjneel/swapi-box/tags","blobs_url":"https://api.github.com/repos/patrickjneel/swapi-box/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/patrickjneel/swapi-box/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/patrickjneel/swapi-box/git/refs{/sha}","trees_url":"https://api.github.com/repos/patrickjneel/swapi-box/git/trees{/sha}","statuses_url":"https://api.github.com/repos/patrickjneel/swapi-box/statuses/{sha}","languages_url":"https://api.github.com/repos/patrickjneel/swapi-box/languages","stargazers_url":"https://api.github.com/repos/patrickjneel/swapi-box/stargazers","contributors_url":"https://api.github.com/repos/patrickjneel/swapi-box/contributors","subscribers_url":"https://api.github.com/repos/patrickjneel/swapi-box/subscribers","subscription_url":"https://api.github.com/repos/patrickjneel/swapi-box/subscription","commits_url":"https://api.github.com/repos/patrickjneel/swapi-box/commits{/sha}","git_commits_url":"https://api.github.com/repos/patrickjneel/swapi-box/git/commits{/sha}","comments_url":"https://api.github.com/repos/patrickjneel/swapi-box/comments{/number}","issue_comment_url":"https://api.github.com/repos/patrickjneel/swapi-box/issues/comments{/number}","contents_url":"https://api.github.com/repos/patrickjneel/swapi-box/contents/{+path}","compare_url":"https://api.github.com/repos/patrickjneel/swapi-box/compare/{base}...{head}","merges_url":"https://api.github.com/repos/patrickjneel/swapi-box/merges","archive_url":"https://api.github.com/repos/patrickjneel/swapi-box/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/patrickjneel/swapi-box/downloads","issues_url":"https://api.github.com/repos/patrickjneel/swapi-box/issues{/number}","pulls_url":"https://api.github.com/repos/patrickjneel/swapi-box/pulls{/number}","milestones_url":"https://api.github.com/repos/patrickjneel/swapi-box/milestones{/number}","notifications_url":"https://api.github.com/repos/patrickjneel/swapi-box/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/patrickjneel/swapi-box/labels{/name}","releases_url":"https://api.github.com/repos/patrickjneel/swapi-box/releases{/id}","deployments_url":"https://api.github.com/repos/patrickjneel/swapi-box/deployments","created_at":"2017-12-04T22:25:25Z","updated_at":"2017-12-06T03:41:07Z","pushed_at":"2017-12-07T17:00:02Z","git_url":"git://github.com/patrickjneel/swapi-box.git","ssh_url":"git@github.com:patrickjneel/swapi-box.git","clone_url":"https://github.com/patrickjneel/swapi-box.git","svn_url":"https://github.com/patrickjneel/swapi-box","homepage":null,"size":365,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"}]'
  recorded_at: Thu, 07 Dec 2017 17:34:03 GMT
- request:
    method: get
    uri: https://api.github.com/users/aziobrow/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1512671109'
      Etag:
      - W/"aa04c1660a[...]
- request:
    method: get
    uri: https://api.github.com/users/aziobrow/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1512671109'
      Etag:
      - W/"d74caec118[...]
- request:
    method: get
    uri: https://api.github.com/users/aziobrow/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1512671109'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 07 Dec 2017 17:34:04 GMT
- request:
    method: get
    uri: https://api.github.com/users/aziobrow/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1512671109'
      Etag:
      - W/"fb36de0cef6f8ff12e655f987a62baf3"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/25802671/repos?page=2>; rel="next", <https://api.github.com/user/25802671/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":113238782,"name":"api_curious","full_name":"aziobrow/api_curious","owner":{"login":"aziobrow","id":25802671,"avatar_url":"https://avatars2.githubusercontent.com/u/25802671?v=4","gravatar_id":"","url":"https://api.github.com/users/aziobrow","html_url":"https://github.com/aziobrow","followers_url[...]
[...]
